/* ALL AREAS */

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    flex-direction: column;
}

/* HEADER */

h1{
    margin: 15% 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* CALCULATOR AREA */

button, .displayArea, .content{
    border-style: solid;
    border-radius: 4px;
    border-width: 5px;
    border-color: black;
    color: rgb(30, 30, 30);
}

.content{
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 80, 80);
    width: 90%;
    height: 50%;
    align-self: center;
    justify-self: center;
    padding: 2% 0;
    border-radius: 4px;
    gap: 5vh;
    flex-shrink: 0;
}

/* DISPLAY AREA */

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
    height: 70px;
    line-height: 70px;
}

.displayArea{
    display: inline;
    background-color: skyblue;
    text-align: right;
    font-family: sans-serif;
    width: 90%;
    height: 100%;
    font-size: 3em;
}

/*  BUTTON AREA */

.numButtons{
    display: grid;
    grid-template-columns: 60% 60% 60%;
    grid-template-rows: 30% 30% 30% 30%;
    justify-content: space-evenly;
    row-gap: 2px;
    column-gap: 2px;
}

.operationsButtons{
    display: grid;
    grid-template-columns: 90% 90%;
    grid-template-rows: 40% 40% 40%;
    justify-content: space-evenly;
    row-gap: 2px;
    column-gap: 2px;
}


.columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.buttons{
    gap: 20%;
    text-align: center;
}

.operation{
    background-color: skyblue;
}

button{
    width: 100%;
    height: 100%;
    font-size: 22px;
    flex-shrink: 0;
}

button:hover{
    background-color:aquamarine;
    transition: 0.1s;
}

button:active{
    background-color: darkcyan;
}

/* FOOTER */

.footer{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(80, 80, 80);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    padding: 20px 0px;
    justify-self: flex-end;
}

a{
    color: lightblue;
}